<!-- 
    File: shared/view/loginPage.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code for the Login Page
    Created on: 01/10/2024
    Last Modified: 15/10/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AES</title>
    <link rel="shortcut icon" href="../../assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Navbar & footer -->
    <link rel="stylesheet" href="../style/navbarStyle.css">
    <link rel="stylesheet" href="../style/footerStyle.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../style/loginStyle.css">
</head>

<body>
    <!-- Navbar -->
    <header id="navbar">
        <!-- Logo -->
        <div id="logoDiv">
            <img src="../../assets/images/AES Logo.jpg" alt="AES" id="navLogo">
            <h1>Analytical Equipment Solutions</h1>
        </div>

        <div id="navLinksDiv">
            <button type="button" class="navBtns" onclick="window.location.href = '../../'">Home</button>
            <button type="button" class="navBtns"
                onclick="window.location.href = '../../user/view/products-page.html'">Products</button>
            <!-- <button type="button" class="navBtns" onclick="window.location.href = '../../user/view/cart.html'">View
                Cart</button> -->
            <button type="button" class="navBtns" onclick="window.location.href = '../../'">About Us
            </button>
            <button type="button" class="navBtns"
                onclick="window.location.href = '../../user/view/contact-us.html'">Contact
                Us</button>
            <button type="button" class="navBtns" id="loginBtn"><i class="fa-solid fa-circle-user"></i></button>

            <!-- Dropdown -->
            <div class="dropdown" id="dropDownBtn">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user"></i>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownMenu">
                    <li><a class="dropdown-item" href="../../user/view/my-orders.html">My Orders</a></li>
                    <li><a class="dropdown-item" href="../../user/view/saved-details.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="../../user/view/saved-details.html">My Cart</a></li>
                    <li><a class="dropdown-item" style="color: red;" id="logoutBtn">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main id="mainContainer">
        <!-- Left Side: Login -->
        <form id="loginForm" onsubmit="return false">
            <!-- Intro -->
            <div>
                <b>Registered Customers</b>
                <div class="horizontalDivider"></div>
                <p class="greyFont">If you have an account, sign in with your email address.</p>
            </div>

            <!-- Email -->
            <div class="inputDiv">
                <b>Email</b>
                <input type="text" class="inputDetails" id="username" name="username" required>
            </div>

            <!-- Password -->
            <div class="inputDiv">
                <b>Password</b>
                <input type="password" class="inputDetails" id="password" name="password" required>
            </div>

            <!-- Checkbox -->
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label greyFont" for="flexCheckDefault">
                        Show Password
                    </label>
                </div>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label greyFont" for="flexCheckDefault">
                        By using this form you agree with the storage and handling of your data by this website
                    </label>
                </div>
            </div>

            <br>
            <!-- Button -->
            <div id="signinDiv">
                <button type="submit" class="btn btn-info" id="signinBtn">Sign In</button>
                <a href="#" class="greyFont">Forgot your password?</a>
            </div>
        </form>

        <!-- VerticalDivider -->
        <div class="verticalDivider"></div>

        <!-- Right Side: New Registration -->
        <section id="newAccountSec">
            <!-- Info -->
            <div>
                <b>New Customers</b>
                <div class="horizontalDivider"></div>
                <p>Creating an account has many benefits: check out faster, keep more than one address, track
                    orders<br>and more.</p>
            </div>

            <!-- Button -->
            <button type="button" class="btn btn-light" id="createBtn"
                onclick="window.location.href = '../../user/view/sign-up.html'">Create an Account</button>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <!-- Main footer -->
        <div class="footer">

            <!-- Company profile -->
            <div class="footer-child-1">
                <div class="footer-child-2">
                    <img src="../../assets/images/AES Logo.jpg" alt="Analytical Equipment Solutions"
                        class="footer-aes-logo">
                    <h1>Analytical Equipment<br>Solutions</h1>
                </div>
                <p>We Provide Pan India Analytical Instruments Sales & Services</p>
            </div>

            <!-- quick links -->
            <div class="footer-child-3">
                <b>Quick Links</b>
                <a href="../../">Home</a>
                <a href="./products-page.html">Products</a>
                <a href="./about-us.html">About Us</a>
                <a href="./contact-us.html">Contact Us</a>
            </div>

            <!-- services -->
            <div class="footer-child-3">
                <b>Services</b>
                <a href="../../assets/pdfs/AES_Catalogue_2024.pdf" target="_blank">Product Enquiry</a>
                <a href="https://wa.me/919920780823?text=Test%20Service%20Request" target="_blank">Service Request</a>
            </div>

            <!-- contact us -->
            <div class="footer-child-3">
                <b>Contact Us</b>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:official@analyticalequipmentsolutions.com">official@analyticalequipmentsolutions.com</a>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:official@outlook.com">official@outlook.com</a>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:8268393857">+91 8268393857</a>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:8169060811">+91 8169060811</a>
                </div>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="https://maps.app.goo.gl/hpf69LaY9kG6UTXM8" target="_blank">Jamil Nagar, Bhandup (W), Mumbai - 400078</a>
                </div>
            </div>
        </div>

        <!-- Copywrite section -->
        <div class="copywrite-div">
            <p>Copywrite</p>
            <i class="fa-regular fa-copyright"></i>
            <p>2024 Analytical Equipment Solutions | AES</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script type="module" src="../controller/tokenVerification.js"></script>
    <script src="../controller/sharedScript.js"></script>
    <script type="module" src="../controller/loginScript.js"></script>
</body>

</html>