<!-- 
    File: shared/view/navbar.html
    Author: Yash Balotiya
    Description: This File contains all the html5 code of NAVBAR
    Created on: 01/10/2024
    Last Modified: 07/10/2024
-->

<header id="navbar">
    <!-- Logo -->
    <div id="logoDiv">
        <img src="../../assets/images/AES Logo.jpg" alt="AES" id="navLogo">
        <h1>Analytical Equipment Solutions</h1>
    </div>

    <div id="navLinksDiv">
        <button type="button" class="navBtns">Home</button>
        <button type="button" class="navBtns">Products</button>
        <button type="button" class="navBtns">View Cart</button>
        <button type="button" class="navBtns">Contact Us</button>
        <!-- <button type="button" class="navBtns"><i class="fa-solid fa-circle-user"></i></button> -->

        <!-- Dropdown -->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">My Orders</a></li>
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#" style="color: red;">Logout</a></li>
            </ul>
        </div>
    </div>
</header>