<!-- 
    File: shared/view/navbar.html
    Author: Yash Balotiya
    Description: This File contains all the html5 code of SideBar
    Created on: 07/10/2024
    Last Modified: 07/10/2024
-->

<aside class="sidebar">
    <div class="sidebar-inner">
        <header class="sidebar-header">
            <!-- <button type="button" class="sidebar-burger" onclick="toggleSidebar()">
                <img src="../../assets/images/AES Logo.jpg" alt="AES">
            </button> -->
            <!-- <button type="button" class="sidebar-burger" onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button> -->
            <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
            <div class="sidebar-logo">
                <p>Welcome, Admin!</p>
            </div>
            <!-- <img src="../../assets/images/blocklord-logo.png" class="sidebar-logo" /> -->
        </header>
        <nav class="sidebar-nav">
            <button type="button">
                <img src="../../assets/vectors/icon-home.svg" class="logos"/>
                <span>Home</span>
            </button>
            <button type="button">
                <img src="../../assets/vectors/icon-settings.svg" class="logos"/>
                <span style="animation-delay: 0.1s">Settings</span>
            </button>
            <button type="button">
                <img src="../../assets/vectors/icon-levels.svg" class="logos"/>
                <span style="animation-delay: 0.2s">Levels</span>
            </button>
            <button type="button">
                <img src="../../assets/vectors/icon-accounts.svg" class="logos"/>
                <span style="animation-delay: 0.3s">Accounts</span>
            </button>
        </nav>
        <footer class="sidebar-footer">
            <button type="button">
                <img src="../../assets/vectors/icon-lock.svg" />
                <span>Logout</span>
            </button>
        </footer>
    </div>
</aside>

<script type="text/javascript">
    const toggleSidebar = () => document.body.classList.toggle("open");
</script>