/*
    File: shared/style/navbarStyle.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the NAVBAR.
    Created on: 01/10/2024
    Last Modified: 05/11/2024
*/

#navbar {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#logoDiv {
    display: flex;
    align-items: center;
}

#navLogo {
    width: 50px;
}

#logoDiv h1 {
    font-size: 20px;
    margin: 0 12px;
    color: #1230AE;
}

#navLinksDiv {
    min-width: 610px;
}

.navBtns {
    background-color: transparent;
    border: none;
    margin: 0 20px;
}

.fa-circle-user {
    transform: scale(1.5);
    color: black;
}

.dropdown {
    display: inline;
}

#dropDownBtn {
    display: none;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

#logoutBtn {
    color: red;
    cursor: pointer;
}

#language-select {
    padding: 4px;
}

/* Code to disble other websites to use our URL in their IFRAME tag or security reasons */
/* Hide important elements when in an iframe */
.iframe-blocker {
    display: none;
}