/*
    File: user/style/cart-style.css
    Author: Yash Balotiya
    Description: This file contains the styling part of the cart page
    Created on: 13/10/2024
    Last Modified: 15/10/2024
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 100vw;
    height: 100vh;
    background-color: white;
}

/* main */
.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-sec {
    width: 80%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

/* left side */
.cart-sec {
    width: 70%;
    display: flex;
    flex-direction: column;
}

tr {
    border-bottom: 1px solid #acacac;
}

td {
    padding: 20px 0;
}

th {
    padding: 15px 0;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}

.product-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-desc {
    display: flex;
    align-items: center;
}

.tally-divv p {
    margin: 0;
    margin-left: 10px;
}

.tally-divv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 2px 4px 2px 0;
}

.tally-div-child {
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tally-btns {
    background-color: transparent;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-xmark {
    color: red;
    cursor: pointer;
}

.cont-btn {
    width: 200px;
    background-color: #f7f7f7;
    padding: 4px 8px;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    border: none;
}

.cont-btn:hover {
    background-color: #acacac3a;
}

/* right side */
.summary-sec {
    width: 25%;
}

.summary-child-1 {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-child-1 h5 {
    text-align: center;
}

.tally-div {
    display: flex;
    justify-content: space-between;
}

.checkout-btn {
    width: 100%;
    background-color: #65c1f0;
    border-radius: 20px;
    padding: 4px 0;
    transition: all 0.2s ease-in-out;
    border: none;
}

.checkout-btn:hover {
    background-color: #54b6e7;
}

.total-text {
    color: #65c1f0;
}