/*
    File: user/style/invoice-style.css
    Author: Yash Balotiya
    Description: This file contains the styling part of invoice page
    Created on: 30/10/2024
    Last Modified: 06/11/2024
*/

/* Main section */
#invoice {
    display: none;
    color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    height: 100px;
    margin-right: 20px;
}

.logo div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo p {
    margin: 0;
}

/* Invoice details */
.invoice-title {
    margin: 16px 0;
    width: 100%;
    text-align: right;
    color: Black;
    line-height: 1.2;
}

.invoice-title h3 {
    margin: 0;
    font-weight: bold;
}

.invoice-title p {
    margin: 0.2em 0;
}

/* Company & Customer details */
.info {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.info div {
    width: 45%;
}

#customerDetails {
    text-align: right;
}

.items {
    margin-top: 20px;
}

.items table {
    width: 100%;
    border-collapse: collapse;
}

.items th,
.items td {
    padding: 6px;
    border: 1px solid #ddd;
    text-align: center;
}

.items th {
    background-color: #f9f9f9;
}

/* Tally section */
.totals {
    margin: 20px 0;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: end;
}

.totals td {
    width: 80px;
    height: 20px;
}

.totals div {
    margin: 3px 0;
}

#totalAmount {
    background-color: yellow;
}

.notice {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #777;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}