* {
    margin: 0;
    padding: 0;

}

body {
    max-width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
}

.heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 26px;
    position: fixed;
    top: 35px;
    left: 120px;
}

#bodyy {
    position: relative;
    top: 110px;
    padding-left: 120px;
    padding-right: 190px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    max-height: 300px;
}

.card-img-top {
    height: 250px;
    max-width: 270px;
}

.card-text {
    padding-left: 10px;
}

.trash-can {
    position: absolute;
    top: 25px;
    right: 26px;
    cursor: pointer;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #F7F7F7;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.plus-icon {
    position: fixed;
    bottom: 60px;
    right: 70px;
}

.dot2 {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 60px;
}

.overlay {
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(43, 43, 43, 0.544);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-confirmation {
    width: 400px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.you-sure {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    padding-left: 35px;
    padding-top: 35px;
}

.yes-no {
    padding-left: 35px;
    padding-bottom: 35px;
}

.p_name {
    font-family: Inter;
    font-weight: 700;
}

.btn {
    padding-left: 60px;
    padding-right: 60px;
}

.yes {
    margin-right: 10px;
}