<!-- 
    File: admin/view/dashboard.html
    Author: Yash Balotiya
    Description: This File contains all the html5 code of SideBar
    Created on: 07/10/2024
    Last Modified: 30/10/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../style/sidebarStyle.css">

    <!-- Navbar -->
    <!-- <link rel="stylesheet" href="../../shared//style/navbarStyle.css"> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <title>Dashboard</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="../style/dashboard-style.css">



   
    

</head>

<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-inner">
            <header class="sidebar-header">
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
                <div class="sidebar-logo">
                    <p>Welcome, Admin!</p>
                </div>
            </header>
            <nav class="sidebar-nav">
                <button type="button">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Analytical</span>
                </button>
                <button type="button" id="prodMangementBtn">
                    <i class="fa-solid fa-box"></i>
                    <span style="animation-delay: 0.1s">Product Management</span>
                </button>
                <button type="button">
                    <i class="fa-solid fa-list-check"></i>
                    <span style="animation-delay: 0.2s">Order Management</span>
                </button>
                <button type="button" onclick="">
                    <i class="fa-solid fa-list-check"></i>
                    <span style="animation-delay: 0.2s">Logout</span>
                </button>
            </nav>
        </div>
    </aside>

    <!-- Main -->
    <main class="main">
        <h3>Analytics</h3>

        <section class="part-1">
            <div class="part1-child-1">
                <div>
                    <p class="p1-titles">PAGE REACH</p>
                    <p id="p1-title1">0</p>
                </div>

                <div>
                    <p class="p1-titles">REPEATING CUSTOMERS</p>
                    <p id="p1-title2">0</p>
                </div>

                <div>
                    <p class="p1-titles">CONVERSION RATE</p>
                    <p id="p1-title3">0</p>
                </div>
            </div>
        </section>

        <section class="part-2">
            <div class="p2-child1">
                <!-- <p id="p2-title1">Revenue & Profit</p> -->
                <!-- <select name="" id="">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select> -->
            </div>
            <div id="chartContainer1"></div>
        </section>

        <section class="part-3">
            <div id="chartContainer2"></div>
            <div id="chartContainer3"></div>
        </section>
        
        <section class="part-4">
            <div id="chartContainer4"></div>
        </section>
    </main>

    <!-- Scripts -->
     <script>const toggleSidebar = () => document.body.classList.toggle("open");</script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script type="module" src="../controller/dashboard.js"></script>
</body>

</html>