<!-- 
    File: shared/view/dashboard.html
    Author: Yash Balotiya
    Description: This File contains all the html5 code of SideBar
    Created on: 07/10/2024
    Last Modified: 11/10/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../../shared/style/sidebarStyle.css">

    <!-- Navbar -->
    <link rel="stylesheet" href="../../shared//style/navbarStyle.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <title>Dashboard</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="../style/dashboard-style.css">
</head>

<body>
    <!-- Navbar -->
    <header id="navbar">
        <!-- Logo -->
        <div id="logoDiv">
            <img src="../../assets/images/AES Logo.jpg" alt="AES" id="navLogo">
            <h1>Analytical Equipment Solutions</h1>
        </div>

        <div id="navLinksDiv">
            <button type="button" class="navBtns">Home</button>
            <button type="button" class="navBtns">Products</button>
            <button type="button" class="navBtns">View Cart</button>
            <button type="button" class="navBtns">Contact Us</button>
            <!-- <button type="button" class="navBtns"><i class="fa-solid fa-circle-user"></i></button> -->

            <!-- Dropdown -->
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user"></i>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">My Orders</a></li>
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="#" style="color: red;">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-inner">
            <header class="sidebar-header">
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
                <div class="sidebar-logo">
                    <p>Welcome, Admin!</p>
                </div>
            </header>
            <nav class="sidebar-nav">
                <button type="button">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Analytical</span>
                </button>
                <button type="button">
                    <i class="fa-solid fa-box"></i>
                    <span style="animation-delay: 0.1s">Product Management</span>
                </button>
                <button type="button">
                    <i class="fa-solid fa-list-check"></i>
                    <span style="animation-delay: 0.2s">Order Management</span>
                </button>
            </nav>
        </div>
    </aside>

    <!-- Main -->
    <main class="main">
        <h3>Analytics</h3>

        <section class="part-1">
            <div class="part1-child-1">
                <div>
                    <p class="p1-titles">TOTAL PROFITS</p>
                    <p id="p1-title1">155,820</p>
                </div>

                <div>
                    <p class="p1-titles">REACHABLE PROFITS</p>
                    <p id="p1-title2">136,520</p>
                </div>

                <div>
                    <p class="p1-titles">UNREACHABLE PROFITS</p>
                    <p id="p1-title3">65,568</p>
                </div>
            </div>
        </section>

        <section class="part-2">
            <div class="p2-child1">
                <p id="p2-title1">Total SG&A by Country</p>
                <select name="" id="">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>
            <div id="chartContainer1"></div>
        </section>

        <section class="part-3">
            <div id="chartContainer2"></div>
            <div id="chartContainer3"></div>
        </section>
        
        <section class="part-4">
            <div id="chartContainer4"></div>
        </section>
    </main>

    <script type="text/javascript">
        const toggleSidebar = () => document.body.classList.toggle("open");
    </script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="../controller/dashboard.js"></script>
</body>

</html>