<!-- 
    File: admin/view/order_manage.html
    Author: Yash Balotiya
    Description: This File contains all the HTML5 code of order management page
    Created on: 04/11/2024
    Last Modified: 04/11/2024
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AES - Analytical Equipment Solutions</title>
    <link rel="shortcut icon" href="./assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../../shared/style/sidebarStyle.css">

    <!-- css -->
    <link rel="stylesheet" href="../style/order-manage-style.css">
</head>
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-inner">
            <header class="sidebar-header">
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
                <div class="sidebar-logo">
                    <p>Welcome, Admin!</p>
                </div>
            </header>
            <nav class="sidebar-nav">
                <button type="button" onclick="window.location.href = './dashboard.html'">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Analytics</span>
                </button>
                <button type="button" id="prodMangementBtn" onclick="window.location.href = './prod_manage.html'">
                    <i class="fa-solid fa-box"></i>
                    <span style="animation-delay: 0.1s">Product Management</span>
                </button>
                <button type="button" onclick="window.location.href = './order_management.html'">
                    <i class="fa-solid fa-list-check"></i>
                    <span style="animation-delay: 0.2s">Order Management</span>
                </button>
                <button type="button" onclick="window.localStorage.removeItem('token'); window.location.reload();">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 20px;"></i>
                    <span style="animation-delay: 0.2s">Logout</span>
                </button>
            </nav>
        </div>
    </aside>

    <main>
        <h3>Order Management</h3>

        <section id="filterSec">
            <select name="" id="" class="filterDropdown">
                <option value="">Confirm Status</option>
                <option value="cs_pending">PENDING</option>
                <option value="cs_accepted">ACCEPTED</option>
            </select>

            <select name="" id="" class="filterDropdown">
                <option value="">Order Status</option>
                <option value="os_pending">PENDING</option>
                <option value="os_dispatched">DISPATCHED</option>
                <option value="os_delivered">DELIVERED</option>
            </select>

            <select name="" id="" class="filterDropdown">
                <option value="">Payment Status</option>
                <option value="ps_paid">PAID</option>
                <option value="ps_unpaid">UNPAID</option>
            </select>

            <select value="" class="filterDropdown">
                <option value="">Sales Mode</option>
                <option value="sm_online">ONLINE</option>
                <option value="sm_offline">OFFLINE</option>
            </select>
        </section>

        <section id="ordersSec">
            <table id="ordersTable">
                <thead>
                    <tr id="headingRow">
                        <th class="leftRow">Sales ID</th>
                        <th>Customer ID</th>
                        <th>Order Confirmation Status</th>
                        <th>Order Status</th>
                        <th>Shipping Address</th>
                        <th>Contact No.</th>
                        <th>Transaction ID</th>
                        <th>Order ID</th>
                        <th>Payment Status</th>
                        <th>Sale Mode</th>
                        <th class="rightRow">Order Date</th>
                    </tr>
                </thead>
                <tbody id="ordersBody">
                    <!-- Dynamic rows will be inserted here -->
                </tbody>
            </table>
        </section>  
    </main>

    <!-- Scripts -->
    <script>const toggleSidebar = () => document.body.classList.toggle("open");</script>
    <script type="module" src="../controller/orderManageScript.js"></script>
</body>
</html>