<!-- 
    File: admin/view/prod_description.html
    Author: Nandini Kakaraniya
    Description: This File contains all the html5 code of product description page
    Created on: 12/10/2024
    Last Modified: 07/11/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Description - AES</title>
    <link rel="shortcut icon" href="../../assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../../shared/style/sidebarStyle.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../style/prod_description.css">
    <!-- <link rel="stylesheet" href="../style/prod_manage.css"> -->
</head>

<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-inner">
            <!-- 3 Bars Icon -->
            <header class="sidebar-header">
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
                <div class="sidebar-logo">
                    <p>Welcome, Admin!</p>
                </div>
            </header>

            <nav class="sidebar-nav">
                <!-- Analytics -->
                <button type="button" onclick="window.location.href = './dashboard.html'">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Analytics</span>
                </button>

                <!-- Product Management -->
                <button type="button" id="prodMangementBtn" onclick="window.location.href = './prod_manage.html'">
                    <i class="fa-solid fa-box"></i>
                    <span style="animation-delay: 0.1s">Product Management</span>
                </button>

                <!-- Order Management -->
                <button type="button" onclick="window.location.href = './order_manage.html'">
                    <i class="fa-solid fa-list-check"></i>
                    <span style="animation-delay: 0.2s">Order Management</span>
                </button>

                <!-- Logout -->
                <button type="button" id="logoutBtn">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 20px;"></i>
                    <span style="animation-delay: 0.2s">Logout</span>
                </button>
            </nav>
        </div>
    </aside>

    <main>
        <section class="parent-div">
            <!-- <div class="heading">Product Description</div> -->
            <h3>Product Description</h3>
            <div class="white-rect" id="product-container"></div>
        </section>
    </main>

    <!-- Scripts -->
    <!-- For Sidebar -->
    <script>const toggleSidebar = () => document.body.classList.toggle("open");</script>

    <!-- Main -->
    <script type="module" src="../../shared/controller/tokenVerification.js"></script>
    <script type="module" src="../controller/sharedAdminScript.js"></script>
    <script type="module" src="../controller/prod_descScript.js"></script>
</body>

</html>