<!-- 
    File: admin/view/prod_manage.html
    Author: Nandini Kakaraniya
    Description: This File contains product management page
    Created on: 12/10/2024
    Last Modified: 30/10/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AES - Analytical Equipment Solutions</title>
    <link rel="shortcut icon" href="./assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../../shared/style/sidebarStyle.css">

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../style/prod_manage.css">
</head>

<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-inner">
            <header class="sidebar-header">
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
                <div class="sidebar-logo">
                    <p>Welcome, Admin!</p>
                </div>
            </header>
            <nav class="sidebar-nav">
                <button type="button" onclick="window.location.href = './dashboard.html'">
                    <i class="fa-solid fa-chart-simple" style="font-size: 20px;"></i>
                    <span>Analytics</span>
                </button>
                <button type="button" id="prodMangementBtn" onclick="window.location.href = './prod_manage.html'">
                    <i class="fa-solid fa-box" style="font-size: 20px;"></i>
                    <span style="animation-delay: 0.1s">Product Management</span>
                </button>
                <button type="button" onclick="window.location.href = './order_management.html'">
                    <i class="fa-solid fa-list-check" style="font-size: 20px;"></i>
                    <span style="animation-delay: 0.2s">Order Management</span>
                </button>
                <button type="button" onclick="window.localStorage.removeItem('token'); window.location.reload();">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 20px;"></i>
                    <span style="animation-delay: 0.2s">Logout</span>
                </button>
            </nav>
        </div>
    </aside>

    <main>
        <div>
            <div class="heading">Product Management</div>
            <div id="bodyy">

                <span class="dot2"></span>


                <!-- <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Sonicator.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Sonicator</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/GC.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Brobe Sonicator</p>
          </div>
        </div> -->

                <i class="fa-solid fa-plus fa-xl plus-icon"></i>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    <script type="text/javascript">const toggleSidebar = () => document.body.classList.toggle("open");</script>
    <script type="module" src="../controller/prod_manageScript.js"></script>
</body>

</html>