<!-- 
    File: admin/view/prod_manage.html
    Author: Nandini Kakaraniya
    Description: This File contains product management page
    Created on: 12/10/2024
    Last Modified: 12/10/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/images/AES Logo.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../../shared/style/sidebarStyle.css">


    <!-- css -->

    <link rel="stylesheet" href="../style/prod_description.css">

    <link rel="stylesheet" href="../style/prod_manage.css">

    <link rel="stylesheet" href="../style/prod_info.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


    <title>Dashboard</title>
</head>

<body>
    

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-inner">
            <header class="sidebar-header">
                <!-- <button type="button" class="sidebar-burger" onclick="toggleSidebar()">
                    <img src="../../assets/images/AES Logo.jpg" alt="AES">
                </button> -->
                <!-- <button type="button" class="sidebar-burger" onclick="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </button> -->
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()"></button>
                <div class="sidebar-logo">
                    <p>Welcome, Admin!</p>
                </div>
                <!-- <img src="../../assets/images/blocklord-logo.png" class="sidebar-logo" /> -->
            </header>
            <nav class="sidebar-nav">
                <button type="button">
                    <img src="../../assets/vectors/icon-home.svg" class="logos" />
                    <span>Home</span>
                </button>
                <button type="button">
                    <img src="../../assets/vectors/icon-settings.svg" class="logos" />
                    <span style="animation-delay: 0.1s">Settings</span>
                </button>
                <button type="button">
                    <img src="../../assets/vectors/icon-levels.svg" class="logos" />
                    <span style="animation-delay: 0.2s">Levels</span>
                </button>
                <button type="button">
                    <img src="../../assets/vectors/icon-accounts.svg" class="logos" />
                    <span style="animation-delay: 0.3s">Accounts</span>
                </button>
            </nav>
            <footer class="sidebar-footer">
                <button type="button">
                    <img src="../../assets/vectors/icon-lock.svg" />
                    <span>Logout</span>
                </button>
            </footer>
        </div>
    </aside>

    <script type="text/javascript">
        const toggleSidebar = () => document.body.classList.toggle("open");
    </script>
<main>
    <div class="window">

        <div class="heading">Product Information</div>

        <!-- <div class="image-label">
            <div class="im">Image</div>
            <div class="five-images">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div><i class="fa-solid fa-plus fa-2xl add-img" style="color: #0d0d0d;"></i></div>
            </div>
        </div> -->
        <div class="image-label">
            <label for="imageUpload" class="im">Image</label>
            <input type="file" id="imageUpload" accept="image/png, image/jpeg" style="display: none;">
            
            <div class="image-box" id="image-box">
                <i class="fa-solid fa-plus fa-2xl add-img" style="color: #0d0d0d;"></i>
            </div>
        </div>

        <div class="name">
            Name
            <div class="input-group mb-3"> 
                <input id="p-name" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
              </div> 
        </div>
        <div class="prod-description">
            Product Description
            <div class="input-group">
                
                <textarea id="p-desc" class="form-control" aria-label="With textarea"></textarea>
              </div>
        </div>
        <div class="price">
            Product Price
            <div class="input-group mb-3"> 
                <input id="p-price" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
              </div> 
        </div>

        <div class="category">
            Category
            <div class="input-group mb-3">
                <input id="p-category" type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" id="dropdown-item1" href="#">ANALYTICAL APPLICATION & INSTRUMENTS FOR LAB</a></li>
                    <li><a class="dropdown-item" id="dropdown-item2" href="#">GAS GENERATORS & EQUIPMENTS</a></li>
                    
                </ul>
            </div>
        </div>
        <!-- <div class="delivery-in">
            Delivery in
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select</button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">days</a></li>
                  <li><a class="dropdown-item" href="#">weeks</a></li>
                  <li><a class="dropdown-item" href="#">months</a></li>
                  
                  
                </ul>
              </div>
        </div> -->
        <div class="delivery-in">
            Delivery in
            <div class="input-group mb-3">
                <input id="delivery-time" type="number" class="form-control" aria-label="Number input" placeholder="Enter number">
                <select id="unit-select" class="form-select" aria-label="Select unit">
                    <option value="">Select</option>
                    <option value="days">Days</option>
                    <option value="weeks">Weeks</option>
                    <option value="months">Months</option>
                </select>
            </div>
        </div>
        <input id="submit-form" type="button" value="Submit">
    </div>
</main>
<script type="module" src="../controller/prod_infoScript.js"></script>
</body>

</html>