<!-- 
    File: user/view/invoice.html
    Author: Yash Balotiya
    Description: This file contains all the HTML code of invoice page. It consists of complete invoice design
    Created on: 30/10/2024
    Last Modified: 06/11/2024
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloading Invoice - AES</title>
    <link rel="stylesheet" href="../style/invoice-style.css">
</head>
<body>
    <!-- Hidden invoice template -->
    <div id="invoice">
        <!-- Header Section -->
        <div class="header">
            <div class="logo">
                <div>
                    <img src="../../assets/images/AES Logo.jpg" alt="Company Logo">
                    <h1>Analytical Equipment<br>Solutions</h1>
                </div>
                <p>We Provide Pan India Analytical Instruments Sales & Services</p>
            </div>
        </div>

        <!-- Invoice details -->
        <div class="invoice-title">
            <h3>INVOICE</h3>
            <p><b>Id:</b> <span id="invoiceIdDisplay"></span></p>
            <p><b>Date:</b> <span id="createdDate"></span></p>
        </div>

        <!-- Client & Company Details -->
        <div class="info">
            <!-- Company Details -->
            <div id="companyDetails">
                <b>MANUFACTURED & SUPPLIED BY</b><br>
                <i>Analytical Equipment Solutions</i><br>
                Gala No. 1, Devi Nivas, Near Medicure Hospital, Jamil Nagar, Bhandup (West), Mumbai - 400 078<br>
                Maharashtra, India<br>
                official@analyticalequipmentsolutions.com<br>
                +91 82683 93857
            </div>

            <!-- Clients Detail -->
            <div id="customerDetails">
                <!-- Customer details will be added dynamically -->
            </div>
        </div>

        <!-- Invoice product details -->
        <div class="items">
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>ITEM DESCRIPTION</th>
                        <th>PRICE</th>
                        <th>QUANTITY</th>
                        <th>SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody id="productTable">
                    <!-- Product rows will be added dynamically -->
                </tbody>
            </table>
        </div>

        <!-- Invoice Tally section -->
        <div class="totals">
            <table>
                <tbody>
                    <tr>
                        <td><b>Subtotal:</b></td>
                        <td id="subtotalAmount"></td>
                    </tr>
                    <tr>
                        <td><b>GST:</b></td>
                        <td id="gstAmount"></td>
                    </tr>
                    <tr>
                        <td><b>Shipping:</b></td>
                        <td id="shippingAmount"></td>
                    </tr>
                    <tr>
                        <td><b>Total:</b></td>
                        <td id="totalAmount"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Footer -->
        <div class="notice">
            This invoice is computer-generated and does not require a signature. 
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script type="module" src="../controller/invoiceScript.js"></script>
</body>
</html>