<!-- 
    File: user/view/products-page.html
    Author: Yash Balotiya
    Description: This file contains all the HTML code of products page
    Created on: 13/10/2024
    Last Modified: 14/10/2024
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/images/AES Logo.jpg">
    <title>Products - AES</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fontsawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Sidebar -->
    <link rel="stylesheet" href="../../shared/style/sidebarStyle.css">

    <!-- Navbar -->
    <link rel="stylesheet" href="../../shared//style/navbarStyle.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../style/products-style.css">
    <link rel="stylesheet" href="../../shared/style/footerStyle.css">
</head>

<body>
    <!-- navbar -->
    <header id="navbar">
        <!-- Logo -->
        <div id="logoDiv">
            <img src="../../assets/images/AES Logo.jpg" alt="AES" id="navLogo">
            <h1>Analytical Equipment Solutions</h1>
        </div>

        <div id="navLinksDiv">
            <button type="button" class="navBtns" onclick="window.location.href = '../../'">Home</button>
            <button type="button" class="navBtns"
                onclick="window.location.href = '../../user/view/products-page.html'">Products</button>
            <!-- <button type="button" class="navBtns" onclick="window.location.href = '../../user/view/cart.html'">View
                Cart</button> -->
            <button type="button" class="navBtns" onclick="window.location.href = '../../'">About Us
                </button>
            <button type="button" class="navBtns" onclick="window.location.href = '../../user/view/contact-us.html'">Contact
                Us</button>
            <button type="button" class="navBtns" id="loginBtn"><i class="fa-solid fa-circle-user"></i></button>

            <!-- Dropdown -->
            <div class="dropdown" id="dropDownBtn">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user"></i>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownMenu">
                    <li><a class="dropdown-item" href="../../user/view/my-orders.html">My Orders</a></li>
                    <li><a class="dropdown-item" href="../../user/view/saved-details.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="../../user/view/cart.html">My Cart</a></li>
                    <li><a class="dropdown-item" style="color: red;" id="logoutBtn">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- main section -->
    <main class="main">
        <!-- Parent Section -->
        <section class="main-sec">
            <!-- Left side -->
            <section class="side-menu-sec">
                <!-- <div class="side-menu-div">
                    <b>Analytical Applications & Instruments for Lab</b>
                    <ul>
                        <li><a href="">Ultrasonic bath</a></li>
                        <li><a href="">Probesonicator</a></li>
                        <li><a href="">Orbital shaker</a></li>
                        <li><a href="">Vortex Mixer</a></li>
                        <li><a href="">Hydrolic Pressure</a></li>
                        <li><a href="">KBR die-set / Pallet holder</a></li>
                        <li><a href="">DTC controller oven / dry box</a></li>
                        <li><a href="">HPLC column pump</a></li>
                        <li><a href="">Digital liquid flow meter</a></li>
                        <li><a href="">Digital gas flow meter</a></li>
                        <li><a href="">HPLC / GC</a></li>
                    </ul>
                    <br>

                    <b>Gas Generators & Equipments</b>
                    <ul>
                        <li><a href="">Nitrogen gas generator</a></li>
                        <li><a href="">Hydrogen gas generator</a></li>
                        <li><a href="">Zero air generator</a></li>
                        <li><a href="">Gas detector & opersting system</a></li>
                    </ul>
                </div> -->

                <div class="side-menu-div" id="side-menu">
                    <!-- Dynamic content will be injected here -->
                </div>                
            </section>

            <div class="vertical-divider"></div>

            <!-- Right side -->
            <section class="orders-sec">
                <!-- <h5>Analytical Applications & Instruments for Lab</h5> -->
                <h5>Analytical Applications, Instruments for Lab, Gas Generators & Equipments</h5>

                <div id="product-container"></div>
            </section>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <!-- Main footer -->
        <div class="footer">

            <!-- Company profile -->
            <div class="footer-child-1">
                <div class="footer-child-2">
                    <img src="../../assets/images/AES Logo.jpg" alt="" class="footer-aes-logo">
                    <h1>Analytical Equipment<br>Solutions</h1>
                </div>
                <p>We Provide Pan India Analytical Instruments Sales & Services</p>
            </div>

            <!-- quick links -->
            <div class="footer-child-3">
                <b>Quick Links</b>
                <a href="">Home</a>
                <a href="">Products</a>
                <a href="">About Us</a>
                <a href="">Contact Us</a>
            </div>

            <!-- services -->
            <div class="footer-child-3">
                <b>Services</b>
                <a href="">Product Enquiry</a>
                <a href="">Service Request</a>
            </div>

            <!-- contact us -->
            <div class="footer-child-3">
                <b>Contact Us</b>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="">official@analyticalequipmentsolutions.com</a>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="">official@outlook.com</a>
                </div>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="">Jamil Nagar, Bhandup (W), Mumbai - 400078</a>
                </div>
            </div>
        </div>

        <!-- Copywrite section -->
        <div class="copywrite-div">
            <p>Copywrite</p>
            <i class="fa-regular fa-copyright"></i>
            <p>2024 Analytical Equipment Solutions | AES</p>
        </div>
    </footer>

    <!-- Scripts -->
     <script type="module" src="../../shared/controller/tokenVerification.js"></script>
     <script src="../../shared/controller/sharedScript.js"></script>
     <script type="module" src="../controller/products-script.js"></script>
</body>

</html>